{
    "speech": {
        "token": "YOUR-SPEECH-TOKEN",
        "region": "YOUR-SPEECH-REGION",
        "speak": {
            "version": "1.0",
            "xmlns": "https://www.w3.org/2001/10/synthesis",
            "xmllang": "zh-TW",
            "voice": {
                "name": "zh-CN-XiaoyouNeural",
                "prosody": {
                    "rate": "1.0"
                }
            }
        }
    },
    "twitch": {
        "active": false,
        "channel": "YOUR_TWITCH_CHANNEL",
        "nickname": "YOUR_TWITCH_NICKNAME",
        "token": "YOUR_TWITCH_OAUTH_TOKEN",
        "client_id": "YOUR_TWITCH_CLIENT_ID",
        "bearer_token": "YOUR_BEARER_TOKEN"
    },
    "facebook": {
        "active": false,
        "access_token": "YOUR_FACEBOOK_ACCESS_TOKEN",
        "live_video_id": "YOUR_FACEBOOK_LIVE_VIDEO_ID"
    },
    "youtube": {
        "active": false,
        "video_id": "YOUR_VIDEO_ID"
    },
    "douyu": {
        "active": false,
        "room_id": "YOUR_ROOM_ID",
        "barrage_host": "YOUT_BARRAGE_HOST"
    }
}